body
header{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    height: 150px;
}

nav
ul{
    display:block;
    font-family: 'Courier New', Courier, monospace; 
    color: green;
}

.slider{
    width: 33%; 
    float: right;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
 }