.item1 { grid-area: header; }
.item2 { grid-area: nav; }
.item3 { grid-area: aside;}
.item4 { grid-area: main;}
.item5 { grid-area: footer;}

.fontall{
font-family: 'SourceSansProRegular';
font-weight: normal;
font-style: normal; 
}

.container{
display: grid;
grid-template-areas:
'header header header header header header'
'nav nav nav nav nav nav'
'aside main main main main main'
'aside main main main main main'
'footer footer footer footer footer footer';
}

header {
background:grey
}



h1 {
color: black;
margin-bottom: 0%;
}

.jen {
color:black;
}

.ubersetzung {
color: #aa3737;
font-size: 1.2em;
}

h2{
margin-top:2px;
color: #ad3737;
}



.headingfix{
width:66%;
float:left;
text-align: right;
margin-top:50px;
}

.logo{
width:300px;
float:right;
background-color: white;

}

nav{
background:red
}
nav {
text-align: right;
margin: 0;
padding: 0;
}
nav li {
list-style-type: none;
display: inline-block;
font-size: 10px;
padding: 10px;
}

.buttons li{
float: right;
list-style: none;
text-align: center;
background-color: #ad3737;
margin-right: 20px;
width: 80px;
line-height: 10px;
border-radius: 8px; 
}

.buttons a {
text-decoration: none;
background-color: #ad3737;
color: white;
} 

.buttons li:hover{
background-color: aqua;
}

main{
background: hotpink

}

aside{
background:greenyellow;
}



footer{
background: lightcoral;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
color: grey;
text-align: center;
padding:5px, 10px;
}
