
header {
    width: 100%;
    height: auto;
    
}

h1 {
    color: black;
    margin-bottom: 0%;
}

.jen {
    color: black;
}

.ubersetzung {
    color: #aa3737;
    font-size: 3rem;
}

h2 {
    margin-top: 0.125rem;
    color: #ad3737;
}

.headingfix {
    width: 66%;
    float: left;
    text-align: right;
    margin-top: 2rem;
    
}

.logo {
    float: right;
    background-color: white;
}