:root {
    --main-font-family: source-sans;
    --main-color: black;
    --red-color: #aa3737
}

/*html body{
    max-height: 100vh;
}*/

#boot-over-body {
    font-family: SourceSansProRegular;
}

/*custom style heading*/

#boot-over-header {
    max-height: 25vh;
}

@media (max-width: 576px) {
    #boot-over-header{ 
        display: container;
        min-height: 30vh;
        margin-left: 10px;
        margin-bottom: 40px;
        
       
    }
}

@media (max-width: 576px) {
    #logo{ 
    display:container;   
    width: 130px;
    margin-top: 5rem;
    margin-right: 10px;
    }
}



h2 {
    margin-top: 0.125rem;
    color: var(--red-color)
}

h1 {
    color: var(--main-color);
    margin-bottom: 0%;
}

.ubersetzung {
    font-size: 3rem;
    color: var(--red-color);
}





/*custom style nav*/

#customButton1 {
    background-color: var(--red-color);
    /*width: 10rem;
    font-size: 12px;*/
    font-variant: small-caps;
    color: white;
}

#customButton2 {
    background-color: var(--red-color);
    /*width: 10rem;
    font-size: 12px;*/
    font-variant: small-caps;
    color: white;
}



#customButton3 {
    background-color: var(--red-color);
     /*width: 10rem;
    font-size: 12px;*/
    font-variant: small-caps;
    color: white;
}


@media (min-width: 768px) {
    #navControl{ 
       margin-top: 5rem;
    }
}


@media (min-width: 768px) {
    #customButton1{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
          height:2rem;
          text-align: center;
          font-size: 24px;
          
        
       
    }
}

@media (min-width: 768px) {
    #customButton2{ 
        display: flex;
  justify-content: center;
  align-items: center;
        width: 10rem;
        height:2rem;
        font-size: 24px;
        
       
    }
}

@media (min-width: 768px) {
    #customButton3{ 
        display: flex;
  justify-content: center;
  align-items: center;
        width: 10rem;
        height:2rem;
        font-size: 24px;
        margin-right: 5rem;
    }
}


/*custom style for row main + aside*/

#boot-over-height {
    min-height: 50vh;
}

.carousel {
    position: relative;
    min-height: 60vh;
    display: flex;
}

.carousel-item {
    text-align: center;
    font-size: 15px;

}

.testimonial-img {
    border: 1px, solid, black;
}

.text {
    text-align: left;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev-icon {
    position: absolute;
    top: 15rem;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    top: 15rem;
    right: 20px;
}



/* main Index*/

main h3 {
    font-variant: small-caps
}

table a {
    color: var(--red-color);
    text-decoration: none;
}

table a:hover {
    text-decoration: var(--red-color);
    pointer-events: none;
}



#mehrText {
    color: var(--red-color);
    text-decoration: none;
}

#mehrTextLinkProjekte {
    color: var(--red-color);
    text-decoration: none;
    font-size: 2rem;
    border: 1px, solid, red;
    font-variant: small-caps;
}

main a {
    color: var(--red-color);
    
}
#imgJen{
    width:370px;
    padding-left: 5rem;
    padding-top: 85px;
}

/*#linkDatenschutz {
    color: var(--red-color);
    text-decoration: none;
    
}

#linkDatenschutz:hover {
    text-decoration: var(--red-color);
    pointer-events: none;
}*/

#borderDaten{
    border: 1px, solid, var(--red-color);
}

.btn btn-outline-danger{
    border-color: var(--red-color);
}



#boot-over-list {
    border: none;
}


/*footer*/



footer {
    color: grey;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}