:root {
    --main-font-family: source-sans;
    --main-color: black;
    --red-color: #aa3737
}

/*html body{
    max-height: 100vh;
}*/

#boot-over-body {
    font-family: SourceSansProRegular;
}

/*custom style heading*/

#boot-over-header {
    max-height: 25vh;
}


h2 {
    margin-top: 0.125rem;
    color: var(--red-color)
}

h1 {
    color: var(--main-color);
    margin-bottom: 0%;
}

.ubersetzung {
    font-size: 3rem;
    color: var(--red-color);
}





/*custom style nav*/

#customButton1 {
    background-color: var(--red-color);
    width: 10rem;
    font-size: 12px;
    font-variant: small-caps;
}

#customButton2 {
    background-color: var(--red-color);
    width: 10rem;
    font-size: 12px;
    font-variant: small-caps;

}

#customButton3 {
    background-color: var(--red-color);
    width: 10rem;
    font-size: 12px;
    font-variant: small-caps;
}




/*custom style for row main + aside*/

#boot-over-height {
    min-height: 50vh;
}

.carousel {
    position: relative;
    min-height: 60vh;
    display: flex;
}

.carousel-item {
    text-align: center;
    font-size: 15px;

}

.testimonial-img {
    border: 1px, solid, black;
}

.text {
    text-align: left;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev-icon {
    position: absolute;
    top: 15rem;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    top: 15rem;
    right: 20px;
}



/* main Index*/

main h3 {
    font-variant: small-caps
}

table a {
    color: var(--red-color);
    text-decoration: none;
}

table a:hover {
    text-decoration: var(--red-color);
    pointer-events: none;
}



#mehrText {
    color: var(--red-color);
    text-decoration: none;
}

#mehrTextLinkProjekte {
    color: var(--red-color);
    text-decoration: none;
    font-size: 2rem;
    border: 1px, solid, red;
    font-variant: small-caps;
}

main a {
    color: var(--red-color);
    
}
#imgJen{
    width:385px;
    padding-left: 8rem;
}

#linkDatenschutz {
    color: var(--red-color);
    text-decoration: none;
    
}

#linkDatenschutz:hover {
    text-decoration: var(--red-color);
    pointer-events: none;
}





#boot-over-list {
    border: none;
}


/*footer*/



footer {
    color: grey;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}