:root {
    --main-font-family: source-sans;
    --main-color: black;
    --red-color: #aa3737;
    --third-color: #595959
}

html {
    font-size:16px;
}

#boot-over-body {
    font-family: SourceSansProRegular;
}

/*custom style heading*/

#boot-over-header {
    max-height: 25vh;
}

@media (max-width: 576px) {
    #boot-over-header{ 
      display:flex;
      justify-content: left;
       max-height: 30vh;
        margin-bottom: 2em;
        margin-top: 0px;
        padding-top: 0px;
        padding-right:0px !important;
        border-right: 0px;
        margin-right: 0px;
        text-align: right;
        column-gap: 0px;
    }
}


@media (max-width: 576px) {
    #headerText{ 
      width:18em;
    }
}

@media (max-width: 576px) {
    #headerText2{ 
      width:5em;
      padding-right: .5em;
      padding-top: 
}
}


@media (max-width: 576px) {
    #logo{ 
    width: 10em;
    margin-top: 2em;
    margin-right: 1rem;
    margin-left:0px;
    padding-left: 0px;
    padding-right: 4em;

    border:0;
    }
}


@media (max-width: 576px) {
    #h1{ 
     font-size:1.35em;
    font-weight: bold;
     margin-top:0rem;
    }
}


@media (max-width: 576px) {
    #ubersetzung{ 
     font-size:2em;
     margin-top:0rem;
    }
}



h2 {
    margin-top: 0.125rem;
    color: var(--red-color)
}

h1 {
    color: var(--main-color);
    margin-bottom: 0%;
}

.ubersetzung {
    font-size: 3rem;
    color: var(--red-color);
}





/*custom style nav*/



#customButton1 {
    background-color: var(--red-color);
    /*width: 10rem;
    font-size: 12px;*/
    font-variant: small-caps;
    color: white;
}

#customButton2 {
    background-color: var(--red-color);
    /*width: 10rem;
    font-size: 12px;*/
    font-variant: small-caps;
    color: white;
}



#customButton3 {
    background-color: var(--red-color);
     /*width: 10rem;
    font-size: 12px;*/
    font-variant: small-caps;
    color: white;
}


@media (min-width: 768px) {
    #navControl{ 
       margin-top: 3rem;
    }
}


@media (min-width: 768px) {
    #customButton1{ 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height:2rem;
        text-align: center;
        font-size: 24px;
          
        
       
    }
}

@media (min-width: 768px) {
    #customButton2{ 
        display: flex;
  justify-content: center;
  align-items: center;
        width: 10rem;
        height:2rem;
        font-size: 24px;
        
       
    }
}

@media (min-width: 768px) {
    #customButton3{ 
        display: flex;
  justify-content: center;
  align-items: center;
        width: 10rem;
        height:2rem;
        font-size: 24px;
        margin-right: 5rem;
    }
}


/*-------------------custom style for row main + aside--------------------------------------*/

#boot-over-height {
    min-height: 50vh;
}

.carousel {
    position: relative;
    min-height: 60vh;
    display: flex;
}

.carousel-item {
    text-align: center;
    font-size: 15px;

}

.carousel .img-responsive{
    width:100%;
}

.testimonial-img {
    border: 1px, solid, black;
}

.text {
    text-align: left;
}

.carousel-control-prev {
    filter: invert(100%);
}

.carousel-control-next {
    filter: invert(100%);
}

.carousel-control-prev-icon {
    position: absolute;
    top: 15rem;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    top: 15rem;
    right: 20px;
}

@media (max-width: 900px) {
    #controls1{ 
   position: absolute;
   top:14rem;
   left:0px;
    }
}

@media (max-width: 900px) {
    #controls2{ 
   position:absolut;
   top:14rem;
   right:0px;
    }
}



/*----------------- main Index-------------------------------------------------------------------------------------------------------------*/

main h3 {
    font-variant: small-caps
}

table a {
    color: var(--red-color);
    text-decoration: none;
}

table a:hover {
    color:var(--red-color);
    text-decoration: var(--red-color);
    pointer-events: auto;
    
}

.brSm{
    display: block;
    margin-bottom: 16px;
}













 


#mehrText {
    color: var(--red-color);
    text-decoration: none;
}

#mehrTextLinkProjekte {
    font-variant: small-caps;
}

main a {
    color: var(--red-color);
    
}
#imgJen{
    width: 20rem;
   }

.fotoCredits{
    color: var(--third-color);
}



.btn btn-outline-danger{
    border-color: var(--red-color);
   
}



#boot-over-list {
    border: none;
}


/*----------------------------footer------------------------------------------------*/




.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color:#595959;
   background-color:white;

}



@media (max-width: 576px) {
    .footer{ 
    text-align:center;
    position:relative;
    }
}