:root{
--main-font-family:source-sans;
--main-color:black;
--red-color:#aa3737
}

#boot-over-body{
font-family: SourceSansProRegular;
}

/*custom style heading*/

#boot-over-header{
max-height: 25vh;
}

/*#boot-over-header-text{
width: auto;
margin-right:25%;
 margin-left:25%%;
}*/

h2{
margin-top: 0.125rem;
color: var(--red-color)
}

h1 {
color: var(--main-color);
margin-bottom: 0%;
}

.ubersetzung {
 font-size: 3rem;
}


/* do I still need this?
.logo {
float: right; 
}
*/ 

/*custom style nav*/

li[id^=boot-over-nav]{
background-color:var(--red-color); 
border:0px; 
font-size:12px; 
padding:3px; 
width: calc(10% - 3px);color:white;
}

.remove-link{
text-decoration:none;
outline: none;
color: white;
}

/*custom style for row main + aside*/

#boot-over-height {
min-height:50vh; 
}

.carousel {
position: relative;
min-height:60vh;
display:flex;
}

.carousel-item{
text-align: center;
font-size: 15px;

}
.testimonial-img{
border:1px, solid, black;
}

.text{
text-align: left;
}

.carousel-control-prev {
filter: invert(100%);
}

 .carousel-control-next {
filter: invert(100%);
}


/*
#boot-over-carousel{
width:auto; 
}

#boot-over-img{
margin-left: auto;
margin-right: auto;
width:92px;
height:130px;

} 

#boot-over-img-2{
margin-left: auto;
margin-right: auto;
width:92px;
height:130px;

} 

#boot-over-img-3{
margin-left: auto;
margin-right: auto;
width:92px;
height:130px;

} 

#boot-over-prev{
filter: invert(100%);
}

#boot-over-next{
filter: invert(100%);
}
*/

/*style for main*/

#boot-over-list{
border:none;
}



#boot-over-footer{
display: grid;
text-align:center;
color: grey;

}