

.item1 {
    grid-area: header;

}

.item2 {
    grid-area: nav;
}

.item3 {
    grid-area: aside;
}

.item4 {
    grid-area: main;
}

.item5 {
    grid-area: footer;
}

.fontall {
    font-family: 'SourceSansProRegular';
    font-weight: normal;
    font-style: normal;
}



.container {
    display: grid;
    height: 100vh;
    grid-template-areas:
        'header header header header'
        'nav nav nav nav'
        'aside main main main'
        'footer footer footer footer';
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    grid-template-rows: 0.8fr 0.2fr 2.4fr 0.2fr;    
    row-gap: 0.1rem;
    column-gap: 0.4rem;
    align-content: stretch;
    width: 100vw;
    
}

header {
    width: 100%;
    height: auto;
    
}

h1 {
    color: black;
    margin-bottom: 0%;
}

.jen {
    color: black;
}

.ubersetzung {
    color: #aa3737;
    font-size: 3rem;
}

h2 {
    margin-top: 0.125rem;
    color: #ad3737;
}

.headingfix {
    width: 66%;
    float: left;
    text-align: right;
    margin-top: 50px;
    
}

.logo {
    float: right;
    background-color: white;
    

}


nav {
    text-align: right;
    padding-right: 2rem;
}

/*nav li {
    list-style-type: none;
    
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}*/

.buttons li {
   
    list-style: none;
    display: inline-block;
    text-align: center;
    background-color: #ad3737;
    margin-right: 20px;
    width: 80px;
    line-height: 10px;
    border-radius: 8px;
}

.buttons a {
    text-decoration: none;
    background-color: #ad3737;
    color: white;
}





main {

    

}

aside {
    padding: 0.2rem;
}



footer {

}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #595959;
    text-align: center;
    padding: 5px, 10px;
    
}

.wrapperMedia {
    padding: 0.5rem;
}

@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows:  1fr 0.6fr 1.5fr 0.5fr 0.4fr;
        grid-template-areas: 
                "header"
                "nav"
                "main"
                "aside"
                "footer"
    }
}